@keyframes sliderAnimation {
    0% {margin-top : 0}
    10% {margin-top: 0;}
    20% {margin-top: -$slider_height;}
    40% {margin-top: -$slider_height;}
    50% {margin-top: -(2*$slider_height);}
    70% {margin-top: -(2*$slider_height);}
    80% {margin-top: -(3*$slider_height);}
    100% {margin-top: -(3*$slider_height);}
    
}

@keyframes imgSlideHorizontal {
    0% {transform: translateX(0);}
    5% {transform: translateX(0);}
    10% {transform: translateX(-$card_width);}
    30% {transform: translateX(-$card_width);}
    40% {transform: translateX(-(2*$card_width));}
    60% {transform: translateX(-(2*$card_width));}
    70% {transform: translateX(-(3*$card_width));}
    90% {transform: translateX(-(3*$card_width));}
    100% {transform: translateX(0);}
}

@keyframes colorSwitch{
    0%{color : darken($bg_color_2,10%)}
    100%{color: darken($bg_color_1,15%)}
}

@keyframes fratureSlide{
    0%{transform: translate(0);}
    100%{
        transform: translate(-125vw);
       
    }
}

@keyframes featureSlide768{
    0%{transform: translate(0);}
    100%{transform: translate(-250vw);}
}
@keyframes featureSlide420{
    0%{transform: translate(0);}
    100%{transform: translate(-500vw);}
}
