// font families
$heading_font : 'Alegreya Sans SC', sans-serif;
$paragraph_font : 'Yanone Kaffeesatz', sans-serif;
$cursive_font : 'Dancing Script', cursive;


// color pallet
$bg_color_1 : #EEC643;
$bg_color_2 : #E24E1B;

$text_dark_color : #1D1A05;
$text_light_color : #FFFBBD;
$text_color_3 : #EEEFA8;


// measurements
$slider_height : 35em;
$card_width : 300px;